<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
		<link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css" />
		<link rel="stylesheet" href="/mdbootstrap/css/style.css" />

		<style type="text/css">
			body,
			html {
				height: 100%;
			}
		</style>
	</head>

	<body>
		<!-- Start your project here-->
		<div class="container h-100">
			<div class="row h-100 justify-content-center align-items-center">
				<div class="col-sm-12 my-auto">
					<!--Form without header-->
					<div class="card card-block w-30 mx-auto" style="width: 30rem; margin: 0 auto; float: none; margin-bottom: 10px;">
						<div class="card-body mx-4">
							<!--Header-->
							<div class="text-center">
								<h3 class="dark-grey-text mb-5"><strong>Client Register</strong></h3>
							</div>

							<!--Body-->
							<form action="/client/register" method="post">

								<div class="md-form">
									<input type="text" id="Form-clientName1" name="clientName" class="form-control" />
									<label for="Form-clientName1">Client Name</label>
								</div>

								<div class="md-form">
									<input type="text" id="Form-redirectUri1" name="redirectUri" class="form-control" value="http://"/>
									<label for="Form-redirectUri1">Redirect URI</label>
								</div>
								<!-- <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="#" class="blue-text ml-1"> Password?</a></p> -->
								<div class="md-form  pb-3">
									<input type="text" id="Form-email1" name="email" class="form-control" disabled value=<%=email%> />
									<label for="Form-email1">Your email</label>
								</div>

								<div class="text-center mb-3">
									<button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Registing Client</button>
								</div>
							</form>

							<!-- <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2">or Sign in with:</p> -->
							<!-- <div class="row my-3 d-flex justify-content-center"> -->
								<!--Facebook-->
								<!-- <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fab fa-facebook-f blue-text text-center"></i></button> -->
								<!--Twitter-->
								<!-- <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fab fa-twitter blue-text"></i></button> -->
								<!--Google +-->
								<!-- <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fab fa-google-plus-g blue-text"></i></button> -->
							<!-- </div> -->
						</div>


					</div>
					<!--/Form without header-->
				</div>
			</div>
		</div>

		<!-- /Start your project here-->

		<script type="text/javascript" src="/mdbootstrap/js/jquery.min.js"></script>
		<script type="text/javascript" src="/mdbootstrap/js/popper.min.js"></script>
		<script type="text/javascript" src="/mdbootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/mdbootstrap/js/mdb.min.js"></script>
	</body>
</html>
