<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css" />
    <link rel="stylesheet" href="/mdbootstrap/css/style.css" />
    <style type="text/css">
      body,
      html {
        height: 100%;
      }
    </style>
  </head>

  <body>
    <!-- Start your project here-->
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-12 my-auto">
          <!--Form without header-->
          <!-- <form action="/oauth2/authorize" method="POST"> -->
          <form action="/oauth2/authorize" method="POST">
            <div class="card card-block w-30 mx-auto" style="width: 30rem; margin: 0 auto; float: none; margin-bottom: 10px;">
              <div class="card-body mx-4">
                <!--Header-->
                <div class="text-center">
                  <h3 class="dark-grey-text mb-5"><strong>Hi <%= username %> </strong></h3>
                </div>
                <p class="dark-grey-text text-left d-flex justify-content-center mb-3 pt-2">
                  <%= clientName %> is requesting access to your health information.</p>
                <p class="dark-grey-text text-left d-flex justify-content-center mb-3 pt-2">Do you approve?</p>
                <div class="md-form">
                  <input type="hidden" id="transaction_id" name="transaction_id" class="form-control" value=<%= transaction_id %> />
                </div>
              </div>

              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <!-- <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="/signup" class="blue-text ml-1"> Sign Up</a></p> -->
                <div class="row my-3 d-flex justify-content-center">
                  <button type="submit" id="allow" class="btn btn-white btn-rounded mr-md-3 z-depth-1a" >Allow</button>
                  <button type="submit" id="deny" class="btn btn-white btn-rounded mr-md-3 z-depth-1a" >Deny</button>
                  <!-- <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fab fa-google-plus-g blue-text"></i></button> -->
                </div>
              </div>
            </div>
          </form>
          <!--/Form without header-->
        </div>
      </div>
    </div>

    <!-- /Start your project here-->

    <script type="text/javascript" src="/mdbootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/mdbootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="/mdbootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/mdbootstrap/js/mdb.min.js"></script>
    <!-- <script>
      jQuery.noConflict();
			$(document).ready(function(){
				$('#allow').click(function(){
          console.log("confirm.ejs: allow button is clicked")
          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;


          xhr.onreadystatechange = function(){
            if(xhr.readyState === xhr.DONE) {
              if (xhr.status === 200 || xhr.status === 201) {
                // // document.open();
                // document.write(xhr.responseText);
                // window.location ="http://localhost:3000";

            	} else {
                console.error(10, xhr.responseText);
            	}
						}
          }

          var transaction_id = $('#transaction_id').val();
          var url = `/oauth2/authorize`;

          xhr.open("POST", url);
          xhr.send();
				})
			})
		</script> -->

  </body>
</html>
