<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
		<link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css" />
		<link rel="stylesheet" href="/mdbootstrap/css/style.css" />
		<style type="text/css">
			body,
			html {
				height: 100%;
			}
		</style>
	</head>

	<body>
		<!-- Start your project here-->
		<!-- <div class="container my-5 py-5 z-depth-1"> -->
		<div class="container h-100">
			<div class="row h-100 justify-content-center align-items-center">
				<!--Section: Content-->
				<section class="px-md-5 mx-md-5 text-center dark-grey-text">
					<!--Grid row-->
					<div class="row">
						<!--Grid column-->
						<div class="col-md-7 mb-4 mb-md-0">
							<h3 class="font-weight-bold">OAuth2 Server</h3>

							<p class="text-muted">
								Oauth2 Server is ... made by sungwon
							</p>

							<hr class="my-2" />
							<p class="font-weight-bold">Welcome</p>


							<hr class="my-2" />
							<a class="btn btn-purple btn-md ml-0" href="/signin" role="button">Sign - in<i class="fa fa-gem ml-2"></i></a>
							<a class="btn btn-purple btn-md ml-0" href="/logout" role="button">Sign - out<i class="fa fa-gem ml-2"></i></a>

							<hr class="my-2" />
							<p class="text-muted">
								<a href="/signup"> sign-up </a>
							</p>

							<hr class="my-2" />
							<a class="btn btn-red btn-md ml-0" href="/client/register" role="button">Registing Client<i class="fa fa-gem ml-2"></i></a>
							<a class="btn btn-red btn-md ml-0" href="/clients" role="button">Registered Clients<i class="fa fa-gem ml-2"></i></a>

							<!-- <hr class="my-2" /> -->

							<!-- <p class="font-weight-bold">Follow us on:</p> -->

							<!--Facebook-->
							<!-- <a href="#" class="mx-1" role="button"><i class="fab fa-facebook-f"></i></a> -->
							<!-- <a href="#" class="mx-1" role="button"><i class="fab fa-twitter"></i></a>
						<a href="#" class="mx-1" role="button"><i class="fab fa-linkedin-in"></i></a>
						<a href="#" class="mx-1" role="button"><i class="fab fa-instagram"></i></a>
						<a href="#" class="mx-1" role="button"><i class="fab fa-pinterest"></i></a>
						<a href="#" class="mx-1" role="button"><i class="fab fa-youtube"></i></a>
						<a href="#" class="mx-1" role="button"><i class="fab fa-github"></i></a>
						<a href="#" class="mx-1" role="button"><i class="fab fa-stack-overflow"></i></a> -->

						</div>
						<!--Grid column-->

						<!--Grid column-->
						<div class="col-md-5 mb-4 mb-md-0">
							<img src="https://mdbootstrap.com/img/Others/screens1.png" class="img-fluid" alt="" />
						</div>
						<!--Grid column-->
					</div>
					<!--Grid row-->
				</section>
				<!--Section: Content-->
			</div>
		</div>

		<!-- /Start your project here-->

		<script type="text/javascript" src="/mdbootstrap/js/jquery.min.js"></script>
		<script type="text/javascript" src="/mdbootstrap/js/popper.min.js"></script>
		<script type="text/javascript" src="/mdbootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/mdbootstrap/js/mdb.min.js"></script>
	</body>
</html>
